{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
    <h1>Köpek Sahiplenmek ister misiniz ?</h1>
    <p>Lütfen ID sini giriniz.!!</p>
    <form action="" method="post">

        {{form.hidden_tag()}}
        {{form.name.label}}
        {{form.name}}
        {{form.id.label}}
        {{form.id}}{{form.submit()}}

    </form>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <p style="color: red;">{{ message }}</p> 
    {% endfor %}
    {% endif %}
    {% endwith %}
</div>


{% endblock %}